<header class="header header--bg">
    <div class="container">
<navbar  [username]='getUsername()' [source]="sourcedash"></navbar>
	</div>
 </header>
 <body>
<div class="container">
	<section class="row"> 
		<h2 class="text-pimary"> Modificar Notificaciones</h2>
	</section>
	

	<section class=" card bg-secondary row">
		<div class="col-md-4">
    	<form novalidate  >
		    <label>Activar Desactivar/Alertas </label>
		    <div class="form-check">
  				<input (change)="sendChangeAlert(formacti)" [(ngModel)]="formacti"  class="form-check-input" type="radio" name="alertcheck" id="exampleRadios1" value="0" checked>
  				<label class="form-check-label" for="exampleRadios1">
    			OFF
	  			</label>
			</div>
		<div class="form-check">
  			<input (change)="sendChangeAlert(formacti)"  [(ngModel)]="formacti" class="form-check-input" type="radio" name="alertcheck" id="exampleRadios2" value="1">
  				<label class="form-check-label" for="exampleRadios2">
    			ON
  				</label>
	 	</div>
     	</form>   
		</div>  
	</section>
</div>
</body>
