<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="nav-brand" href="{{ getUrldashbor() }}">{{title}}</a>
  <a  style="padding: 15px;" class="text-light">{{ username }}</a>

  <button class="navbar-toggler collapsed" type="button" (click)="toggleState()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'collapse': isCollapse }">
    <ul class="nav navbar-nav mr-auto">
      <li *ngFor="let item of  getNavar()" class="nav-item">
        <a class="nav-link"  href="{{ item.uri}}"> {{item.title}}</a>
        <!--<a class="nav-link"  routerLink="{{ item.uri}}"> {{item.title}}</a>-->
      </li>
    </ul>

</div>
</nav>