<div class="row pb-1">
<!--<canvas>-->
<canvas baseChart class="background"
  [datasets]="arrrgra[0].getdata"
  [type]="arrrgra[0].gettypecharr"
  [options]="arrrgra[0].option"
  [labels]="dates"
>
</canvas>
</div>

<div class="row pb-1">
<canvas baseChart class="background"
[datasets]="arrrgra[1].getdata"
  [type]="arrrgra[1].gettypecharr"
  [options]="arrrgra[1].option"
  [labels]="dates"
  >


</canvas>
</div>

<div class="row pb-1">
<canvas baseChart class="background"
[datasets]="arrrgra[2].getdata"
  [type]="arrrgra[2].gettypecharr"
  [options]="arrrgra[2].option"
  [labels]="dates" class="background" 
	
>
</canvas>
</div>


<!--<div class="row pb-1">
<canvas baseChart class="background"
[datasets]="arrrgra[3].getdata"
  [type]="arrrgra[3].gettypecharr"
  [options]="arrrgra[3].option"
  [labels]="dates" class="background" 
	
>
</canvas>
</div>


<div class="row pb-1">
<canvas baseChart class="background"
[datasets]="arrrgra[4].getdata"
  [type]="arrrgra[4].gettypecharr"
  [options]="arrrgra[4].option"
  [labels]="dates" class="background" 
	
>
</canvas>
</div>


<div class="row pb-1">
<canvas baseChart class="background"
[datasets]="arrrgra[5].getdata"
  [type]="arrrgra[5].gettypecharr"
  [options]="arrrgra[5].option"
  [labels]="dates" class="background" 
	
>
</canvas>
</div>


<div class="row pb-1">
<canvas baseChart class="background"
[datasets]="arrrgra[6].getdata"
  [type]="arrrgra[6].gettypecharr"
  [options]="arrrgra[6].option"
  [labels]="dates" class="background" 
	
>
</canvas>
</div>-->