<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Ingresar</h5>
            <form novalidate #myform="ngForm"  class="form-signin" (ngSubmit)="onsubimitform(formuser)">
              <div class="">
                <label for="inputdocument">N&uacute;mero de Documento</label>
                <input  [(ngModel)]="formuser.numerodoc" name="numerodoc" type="numeric" id="inputdocument" class="form-control" placeholder="" maxlength="15" minlength="4" required autofocus>
              </div>
              <div class="">
                <label for="tipodocumento">Tipo Documento</label>
                <select  name="tipodoc" [(ngModel)]="formuser.tipodoc" type="text" id="tipodocumento" class="form-control"  required autofocus>
                  <option *ngFor="let item of getTipoDocumento(); let i = index;"  value="{{ item.id}}">
                    {{item.descrip}}
                   </option>
                    }
                </select>
              </div>

              <div class="">
                <label for="inputPassword">Contrase&ntilde;ia</label>
                <input name="password" [(ngModel)]="formuser.password" type="password" id="inputPassword" class="form-control" placeholder="" minlength="8" maxlength="15" required autofocus>
              </div>

              <!--<div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>-->
              <button  [disabled]="myform.invalid" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Entrar</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
