<header class="header header--bg">
    <div class="container">
<navbar [username]='getUsername()' [source]="sourcedash"></navbar>
	</div>
 </header>
 <body>

 	<div class="container">
	<div class="row">
		<div class="card bg-light">
	<article class="card-body mx-auto">
	<h4 class="card-title mt-3 text-center">Consultar</h4>
		<p class="text-center">Consulte el Paciente</p>
		<p class="divider-text">
        <!--<span class="bg-light">hola</span>-->
     </p>
	<form  >
	<!--<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="nombre de la persona" type="text">
    </div> --><!-- form-group// -->
    <!--<div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Email" type="email">
    </div> --><!-- form-group// -->
<div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text">Usuario-Monitor <i class="fa fa-phone"></i> </span>
		</div>
		<select  name="usermonitor" class="custom-select" 
		(change)="setUserSelect()"
		[(ngModel)]="indexarrsel" required autofocus>
		    <!--<option  value="NO" selected="">usuario</option>-->
			<option 
			*ngFor="let item of userbindMont;let i = index;" class="text-center"
			 [value]="i"  >
			{{item.numerodoc}}-{{item.mail}}
			</option>
			<!--<option 
			*ngFor="let item of getAlertUser();let i = index;" class="text-center"
			 [value]="i"  >
			{{item.getobservation.monitor}}-{{item.getobservation.patient_id}}
			</option>-->
		</select>
    	<!--<input *ngIf="alertselect.getobservation !== undefined" disabled="" [value]="alertselect.getobservation.monitor"  name="" class="form-control" 
    	[placeholder]="alertselect.getobservation.patient_id" 
    	type="number" />-->
    	<input *ngIf="userselect.numerodoc !== undefined" disabled="" [value]="userselect.numerodoc"  name="" class="form-control" 
    	[placeholder]="userselect.numerodoc" 
    	type="number" required autofocus />



    </div>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text">IPmon<i class="fa fa-user"></i> </span>
		 </div>
        <input *ngIf="userselect.numerodoc !== undefined" 
        name="patientid" disabled="" class="form-control" 
        [value]="userselect.mail"
        [placeholder]="userselect.mail" 
        type="text" required autofocus />
    </div>

    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text">Alertas<i class="fa fa-user"></i> </span>
		 </div>
		 <select *ngIf="userselect.numerodoc !== undefined"
		  (change)="setAlert()"
		   [(ngModel)]="indexalert"
		    name="alertsfound"  >
		 	<option *ngFor="let item of alertasArr;let i=index;"
		 	[value]="i"
		 	>{{item.getdescripcion}}</option>
		 </select>
        <!--<input *ngIf="alertselect.getobservation !== undefined" 
        name="patientid" disabled="" class="form-control" 
        [value]="alertselect.getobservation.monitor"
        [placeholder]="alertselect.getobservation.monitor" 
        type="text" />-->
    </div>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text">severidad<i class="fa fa-user"></i> </span>
		 </div>
        <input *ngIf="alertselect.getseveridad !== undefined" 
        name="patientid" disabled="" class="form-control" 
        [value]="alertselect.getseveridad"
        [placeholder]="alertselect.getseveridad" 
        type="text" />
    </div>

     <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text">HorasAlerta<i class="fa fa-user"></i> </span>
		 </div>
        <input *ngIf="alertselect.gethoraalert !== undefined" 
        name="patientid" disabled="" class="form-control" 
        [value]="alertselect.gethoraalert"
        [placeholder]="alertselect.gethoraalert" 
        type="text"  />
    </div>





                                 
    <!--<div class="form-group">
        <button [disabled]="miformconl.invalid" type="submit" class="btn btn-primary btn-block"> Consultar </button>
    </div>  form-group// -->                                                                       
		</form>
	  </article>
	</div>

	<div class="col-md-4 ml-1">
		<!--<app-customconsult 
			*ngIf="alertselect.getobservation !== undefined" 
			[indexalert]="indexarrsel"
			[horamonitor]="alertselect.getobservation.horasignal">
			
		</app-customconsult>-->
		<app-customconsult 
			*ngIf="alertselect.gethoraalert.length > 1" 
			[indexalert]="indexarrsel"
			[horalerta]="alertselect.gethoraalert"
			[username]="userselect.username"
			[ip]="userselect.mail">
			
		</app-customconsult>


	</div>
	</div>		
  </div>
</body>
