.ng-pristine
{

}
.ng-invalid
{
 border-color: #FD0B00;
} 

.ng-validing
{
 border-color: #51fd00;
} 


.ng-untouched
{
  border-color: #FD0B00;
}
.ng-dirty.ng-validing
{
  border-color: #51fd00;
}


.loaddin
{
  visibility: hidden
}