.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.ng-pristine
{

}
.ng-invalid
{
 border-color: #FD0B00;
} 

.ng-validing
{
 border-color: #51fd00;
} 


.ng-untouched
{
  border-color: #FD0B00;
}
.ng-dirty.ng-validing
{
  border-color: #51fd00;
}


.loaddin
{
  visibility: hidden
}