
<div class="container">


<div class="card bg-light">
	<navbar [username]='getUsername()' [source]="sourchedash"></navbar>
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Registrar Usuario</h4>
	<p class="text-center">Se registrar&aacute; un usuario en el sistema</p>
	<p class="divider-text">
        <!--<span class="bg-light">OR</span>-->
    </p>
	<form novalidate #myform1="ngForm" (ngSubmit)="enviarForm(user)">
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="name" [(ngModel)]="user.name" class="form-control" placeholder="nombre de la persona" type="text" required autofocus>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="birthdate" class="form-control" [(ngModel)]="user.fechaNacimiento"  placeholder="Repeat password" type="date" required autofocus>
    </div> 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="email" [(ngModel)]="user.email" class="form-control" placeholder="Email" type="email" required autofocus>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<select name ="tipodoc" [(ngModel)]="user.tipodocumento" class="custom-select" style="max-width: 120px;" required autofocus>
		    <option selected="" value="1">Cedula de Ciudadan&iacute;a</option>
		    <option value="2">Cedula de Extranjer&iacute;a</option>
		    <option value="3">Tarjeta Identidad</option>
		    <option value="4">Pasaporte</option>
		</select>
    	<input name="numero doc" [(ngModel)]="user.documento" class="form-control" placeholder="Numero Documento" type="number" required autofocus>
    </div> <!-- form-group// -->
    <!--<div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
		</div>
		<select class="form-control">
			<option selected=""> Select job type</option>
			<option>Designer</option>
			<option>Manager</option>
			<option>Accaunting</option>
		</select>
	</div> --><!-- form-group end.// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="password" class="form-control" minlength="8" maxlength="20" [(ngModel)]="user.password" placeholder="Create password" type="password" required autofocus>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input name="repitpassword" class="form-control" [(ngModel)]="user.repipassword"  placeholder="Repeat password" type="password" minlength="8" maxlength="20" required autofocus>
    </div> <!-- form-group// -->   

    <div class="form-group">
        <button type="submit" [disabled]="myform1.invalid" class="btn btn-primary btn-block"> Registrar </button>
    </div> <!-- form-group// -->                                                                       
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->

<br><br>

